Flow_NODE_RED.txt
[{"id":"2b8a2429.c3460c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"e2cc207f.67f9f","type":"mqtt in","z":"2b8a2429.c3460c","name":"","topic":"iSupport/1/nodered","qos":"2","datatype":"json","broker":"d5344fff.c7fc9","x":130,"y":260,"wires":[["a476dcda.bd014"]]},{"id":"a476dcda.bd014","type":"python3-function","z":"2b8a2429.c3460c","name":"","func":"\n\noutput1={}\noutput2={}\noutput3={}\noutput4={}\nflag=1\nif \"average heart rate\" in msg[\"payload\"]:\n    output1={\"topic\":\"average heart rate\",\"payload\":[{\n    \"series\": \" \",\n    \"data\": [[msg[\"payload\"][\"average heart rate\"][\"mean_value\"][0],msg[\"payload\"][\"average heart rate\"][\"mean_value\"][1],msg[\"payload\"][\"average heart rate\"][\"mean_value\"][2]]],\n    \"labels\":[ \"0:00-8:00\", \"8:00-19:00\", \"19:00-24:00\"]\n    }]}\n    \n    output2={\"topic\":\"activity\",\"payload\":[{\n    \"series\": [ \"X\", \"Y\", \"Z\"],\n    \"data\": [[msg[\"payload\"][\"activity\"][0],msg[\"payload\"][\"activity\"][1],msg[\"payload\"][\"activity\"][2]]],\n    \"labels\": [  \"Low Intensity\", \"Medium Intensity\",\"Hight Intensity\" ]\n    }]}\n    \n    output3={\"topic\":\"bedroomMotion\",\"payload\":[{\n    \"series\": [ \"X\" ],\n    \"data\": [[msg[\"payload\"][\"bedroomMotion\"],100-msg[\"payload\"][\"bedroomMotion\"]]],\n    \"labels\": [ \"Bedroom detection [%]\", \"No sleep\" ]\n    }]}\n    \n    \n    #return [output1, output2, output3]\n    \nelif \"Panik Attack\" in msg[\"payload\"]:\n    #flag=0\n    output4[\"payload\"]=msg[\"payload\"][\"Panik Attack\"]\n    \n    \n#\"data\": [msg[\"payload\"][\"average heart rate\"][\"min_value\"] ],\n#if flag==0:\n#    output=output4\n#else:\n\n    \n#return output\nreturn [output1, output2, output3, output4]\n\n#msg.payload = {chatId: msg.chatId, type:\"photo\", content:output1['payload'], caption:\"Picture from chart\"};\n\n#return msg;","outputs":4,"x":460,"y":260,"wires":[["c748ef04.1d18b","20158e87.370452"],["6898d720.22f198","c748ef04.1d18b"],["c748ef04.1d18b","6c796123.5c34f"],["cd385ac.7efc1a8","15c3be2b.5e51e2","fa71da93.a0ad68"]]},{"id":"c748ef04.1d18b","type":"debug","z":"2b8a2429.c3460c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"20158e87.370452","type":"ui_chart","z":"2b8a2429.c3460c","name":"","group":"51fab186.63fea","order":1,"width":0,"height":0,"label":"AVERAGE HEART RATE VALUES IN TIME SLOTS","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#0a75b8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1010,"y":260,"wires":[[]]},{"id":"6898d720.22f198","type":"ui_chart","z":"2b8a2429.c3460c","name":"","group":"51fab186.63fea","order":2,"width":0,"height":0,"label":"WEEKLY ACTIVITY REPORT","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#f9d910","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":300,"wires":[[]]},{"id":"6c796123.5c34f","type":"ui_chart","z":"2b8a2429.c3460c","name":"","group":"51fab186.63fea","order":3,"width":0,"height":0,"label":"WEEKLY BEDROOM PRESENCE REPORT","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb343","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":340,"wires":[[]]},{"id":"ccd5b0d9.34356","type":"ui_digital_display","z":"2b8a2429.c3460c","name":"Number Panic attack","group":"51fab186.63fea","order":5,"width":"0","height":"0","digits":"5","decimals":"0","x":900,"y":420,"wires":[]},{"id":"15c3be2b.5e51e2","type":"rbe","z":"2b8a2429.c3460c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":380,"wires":[["ccd5b0d9.34356"]]},{"id":"cd385ac.7efc1a8","type":"debug","z":"2b8a2429.c3460c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":460,"wires":[]},{"id":"fa71da93.a0ad68","type":"ui_text","z":"2b8a2429.c3460c","group":"51fab186.63fea","order":4,"width":0,"height":0,"name":"","label":"","format":"NUMBER OF PANIC ATTACK","layout":"col-center","x":690,"y":480,"wires":[]},{"id":"d5344fff.c7fc9","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"51fab186.63fea","type":"ui_group","name":"Thingspeak","tab":"214929f.6165fd6","order":1,"disp":true,"width":"13","collapse":false},{"id":"214929f.6165fd6","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]